<% include ./header.ejs %>
<div class="container">


    <!--<% musics.forEach(function(music){%>-->

    <!--<audio autoplay="autoplay"controls="controls">-->
        <!--<source src="<%= music.musicName %>"/>-->
    <!--</audio>-->

    <!--<h1><%=music.musicName%></h1>-->


    <!--<%});%>-->
    <div class="container">
    <% musics.forEach(function(music){%>
  
    <p><%= music.musicName%></p>
    <audio controls>
        <source src="<%= music.musicName%>"
                type="audio/mpeg" />
    </audio>
    <%if(isLogin && JSON.stringify(userData) === '{"_id":"596f74278481d02ac34ab1a9","id":1,"userID":"facebook:1894952327496077","userPassword":"facebook_login","displayName":"최동호","__v":0}' || JSON.stringify(userData) === '{"_id":"596f7e87bdde392ba157f653","id":2,"userID":"facebook:813300375494742","userPassword":"facebook_login","displayName":"이재권","__v":0}'){%>

    <a href="/delete_music/<%=music._id%>" class="btn btn-danger">삭제</a>
    <br>
    <%}%>
    <%});%>
   </div>

   


</div>
</body>
</html>
